/* general */
:root {
  --font-family: 'Montserrat', sans-serif;
  --color-blue-1: #6D79EF;
  --color-blue-2: #67AEFC;
  --color-blue-3: #DAECFF;
  --color-green: #75E169;
  --color-black: #000000;
  --color-white: #ffffff;
  --content-width: min(1170px, calc(100vw - 2*20px));
}

* {
  scrollbar-width: none;
  scrollbar-color: var(--color-blue-1) var(--color-blue-3);
  opacity: 1;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-blue-3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-1);
  border-radius: 5px;
}

body {
  width: 100vw;
  font-family: var(--font-family);
  overflow-y: overlay;
  overflow-x: hidden;
  
}

section,
footer {
  overflow-x: hidden;
}

.container {
  width: var(--content-width);
  margin: 0 auto;
}

.scroll-js {
  transition: 0.5s;
}


/* header */
.header {
  background-color: var(--color-blue-2);
  position: relative;
  z-index: 10;
}

.header__row {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-blue-2);
  z-index: 3;
}

.header__logo {
  z-index: 4;
}

.header__nav {
  display: flex;
  column-gap: 30px;
  justify-content: end;
  z-index: 4;
}

.nav__list {
  display: flex;
  column-gap: 35px;
  align-items: center;
}

.nav__item {
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  position: relative;
}

.nav__item::after {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: var(--color-white);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.nav__item:hover::after {
  transform: scaleX(1.05);
}

.header__btn.btn {
  width: 170px;
  height: 38px;
}

.header__btn.btn:hover {
  border: 2px solid var(--color-white);
}

.header__btn.btn:active {
  background: var(--color-white);
  color: var(--color-blue-2)
}

.burger {
  display: none;
}


/* promo section */
.promo {
  position: relative;
  background: var(--color-white);
}

.promo__decor .ellipse-01 {
  width: 300px;
  height: 183px;
  border-radius: 50%;
  border: 2px solid var(--color-blue-2);
  position: absolute;
  bottom: 40px;
  left: -155px;
}

.promo__decor .ellipse-02 {
  width: 1220px;
  height: 548px;
  background: var(--color-blue-3);
  border-radius: 50%;
  position: absolute;
  top: 82px;
  right: -609px;
}

.promo__decor .pic-01 {
  width: 171px;
  height: 63px;
  background-image: url(../assets/image/promo/decor-01.png);
  bottom: 95px;
  left: 65px;
}

.promo__decor .pic-02 {
  width: 53px;
  height: 53px;
  background-image: url(../assets/image/promo/decor-02.png) no-repeat;
  top: 120px;
  left: 240px;
}

.promo__row {
  display: flex;
  padding: 170px 0 180px;
  position: relative;
}

.promo__info {
  width: 50%;
  z-index: 2;
}

.promo__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  margin-bottom: 20px;
}

.promo__text {
  width: 80%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);
  margin-bottom: 60px;
}

.promo__cart {
  width: 50%;
  height: 0;
  position: relative;
  top: -80px;
  left: 10px;
}


/* service section */
.service {
  padding: 120px 0;
  background: var(--color-blue-3);
  position: relative;
}

.service__decor .pic-01 {
  width: 133px;
  height: 148px;
  background-image: url(../assets/image/service/decor-01.png);
  top: 463px;
  right: 145px;
}

.service__title {
  margin-bottom: 77px;
}

.service__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  transform: translateX(0px);
}

.service__item {
  padding: 0 40px;
  background: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
  transition: all 1s;
}

.service__row-top,
.service__row-bottom {
  padding: 15px 0 0;
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr 30px;
  gap: 30px;
}

.service__row-bottom {
  max-height: 0;
  transition: 1s;
}

.open .service__row-bottom {
  margin-bottom: 47px;
  max-height: var(--height);
}

.service__item .circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-green);
  transition: 0.5s;
}

.service__item.open .circle {
  background: var(--color-blue-2);
}

.service__item .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111111;
  transition: 0.5s;
}

.service__item.open .title {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}

.service__item .switch {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.service__item .switch::after {
  transition: 0.2s;
  content: '';
  width: 17px;
  height: 17px;
  border-top: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-radius: 1px;
  transform: rotate(135deg) translate(-20%, 20%) scale(1);
}

.service__item.open .switch::after {
  transform: rotate(135deg) translate(20%, -20%) scale(-1);
}

.service__item .line {
  height: 100%;
  width: 2px;
  margin: 0 auto;
  border-radius: 1px;
  background: var(--color-black);
}

.service__item .text {
  padding: 7px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: var(--color-black);
}


/* stages section */
.stages {
  padding: 125px 0;
  background: var(--color-white);
  position: relative;
}

.stages__decor .pic-01 {
  width: 67px;
  height: 67px;
  background-image: url(../assets/image/stages/decor-01.png);
  top: 129px;
  left: 187px;
}

.stages__decor .pic-02 {
  width: 190px;
  height: 70px;
  background-image: url(../assets/image/stages/decor-02.png);
  bottom: 47px;
  right: 187px;
}

.stages__title {
  margin-bottom: 82px;
  position: relative;
}

.stages__list {
  width: max-content;
  margin-bottom: 85px;
  display: flex;
  gap: 25px;
  transition: 0.5s;
}

.stages__item {
  width: 694px;
  height: 391px;
  padding: 55px 70px;
  border: 2px solid var(--color-blue-2);
  border-radius: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 55% 45%;
}

.stage__title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: var(--color-black);
}

.stage__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-black);
}

.stage__image {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stage__image img {
  width: 100%;
}

.stage__image.rotate img {
  transform: rotate(15.72deg);
}

.stages__button.slider-buttons {
  width: 150px;
}


/* examples section */
.examples {
  padding: 121px 0;
  background: var(--color-blue-3);
  position: relative;
}

.examples__decor .pic-01 {
  width: 217px;
  height: 231px;
  background-image: url(../assets/image/examples/decor-01.png);
  top: 300px;
  left: 23px;
}

.examples__decor .pic-02 {
  width: 108px;
  height: 108px;
  background-image: url(../assets/image/examples/decor-02.png);
  bottom: 244px;
  right: 122px;
}

.examples__title {
  margin-bottom: 51px;
}

.examples__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px 33px;
}

.examples__item {
  --card-height: calc((var(--content-width) - 33px) / 2.55);
  height: var(--card-height);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.examples__image {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: scale(1.01);
}

.examples__item:hover .examples__image {
  transform: scale(1.01) translateY(-100%);
}

.examples__link {
  background: #67AEFC;
  color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.examples__link h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}

.examples__link p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
}

.examples__buttons.slider-buttons {
  display: none;
}


/* more-info section */
.more-info {
  padding: 135px 0 100px;
  background: var(--color-white);
  position: relative;
}

.more-info__decor .pic-01 {
  width: 58px;
  height: 58px;
  background-image: url(../assets/image/examples/decor-02.png);
  top: 150px;
  left: 153px;
}

.more-info__mobile-title {
  display: none;
}

.more-info__row {
  display: flex;
  align-items: center;
  position: relative;
}

.more-info__info {
  width: 55%;
}

.more-info__title {
  margin-bottom: 53px;
  text-align: start;
}

.more-info__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
}

.more-info__image {
  width: 45%;
  position: relative;
  left: 70px;
}


/* callback section */
.callback {
  padding: 180px 100px 128px 0;
  background: var(--color-blue-3);
  position: relative;
}

.callback__decor .pic-01 {
  width: 329px;
  height: 338px;
  background-image: url(../assets/image/callback/decor-01.png);
  bottom: 174px;
  left: 232px;
}

.callback__decor .pic-02 {
  width: 184px;
  height: 144px;
  background-image: url(../assets/image/callback/decor-02.png);
  top: 289px;
  right: 405px;
}

.callback__content {
  width: 470px;
  margin: 0 auto;
  position: relative;
}

.callback__image {
  display: none;
}

.callback__title {
  margin-bottom: 29px;
}

.callback__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #111111;
}

.callback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callback__form .input {
  display: block;
  margin-bottom: 20px;
}

.callback__form .btn {
  margin-top: 10px;
}

.input {
  --border-color: var(--color-blue-2);
  width: 100%;
  padding: 19px 14px;
  border: none;
  border-radius: 10px;
  outline: none;
  outline: 1px solid var(--border-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  box-sizing: inherit;
  transition: 0.5s;
}

.input,
.input::placeholder {
  color: #939393;
}

.input:focus {
  outline: 2px solid var(--border-color);
  outline-offset: -1px;
  color: #292929 !important;
}

.input.invalid,
.input.invalid::placeholder {
  --border-color: #ff1111;
  color: #e44e55;
  background: #fff5f5;
}

.input-after {
  width: 50px;
  height: 50px;
  color: tomato;
}


/* footer */
.footer {
  background-color: var(--color-blue-2);
  padding: 100px 0 80px;
  color: var(--color-white);
}

.footer__row {
  width: fit-content;
  display: grid;
  grid:
    'logo contacts email'
    'links contacts ...';
  column-gap: 110px;
  margin-bottom: 120px;
}

.footer__logo {
  width: 280px;
  height: 66px;
  margin-bottom: 45px;
  grid-area: logo;
}

.footer__logo img {
  height: 100%;
}

.footer__links {
  display: grid;
  grid: 'instagram facebook telegram viber whats-up';
  column-gap: 38px;
  grid-area: links;
}

.footer__link {
  height: 25px;
  transition: 0.2s;
  grid-area: var(--link);
}

.footer__link img {
  height: 100%;
}

.footer__link:hover {
  transform: scale(1.2) translateY(0);
}

.footer__link:active {
  transform: scale(1.2) translateY(2px);
}

.footer__contacts {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  grid-area: contacts;
}

.footer__contact::before {
  content: url(../assets/svg/viber.svg);
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
  transition: 0.2s;
  display: inline-block;
}

.footer__contact:hover::before {
  transform: scale(1.2);
}

.footer__email {
  margin-top: 25px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  grid-area: email;
}

.footer__bottom {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
}

/* common elements */

.btn {
  width: 270px;
  height: 60px;
  background: var(--color-green);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: var(--color-white);
  border: 2px solid transparent;
  transition: 0.2s;
}

.btn:hover {
  border: 2px solid var(--color-blue-2);
}

.btn:active {
  background: var(--color-blue-2);
  color: var(--color-white);
}

.pic {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  position: relative;
}

.slider-buttons {
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider-btn {
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-blue-2);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.slider-btn:hover {
  background: var(--color-blue-2);
}

.slider-btn:active {
  --scale: 1.2;
  transform: scale(1.2);
}

.slider-btn::after {
  --scale: 1;
  --color: var(--color-black);

  content: '';
  width: 17px;
  height: 17px;
  border-top: 2px solid var(--color);
  border-right: 2px solid var(--color);
  border-radius: 1px;
  transition: 0.2s;
  transform: rotate(var(--rotate)) translate(-20%, 20%) scale(var(--scale));
}

.slider-btn:hover::after {
  --color: var(--color-white);
}

.btn-left::after {
  --rotate: 225deg;
}

.btn-right::after {
  --rotate: 45deg;
}


/* media queries */
@media screen and (max-width: 1200px) {
  .promo__info {
    width: 65%;
  }

  .promo__cart {
    width: 35%;
    left: -150px;
  }

  .more-info__image {
    left: -50px;
  }

  .callback {
    padding: 180px 0 128px;
  }

  .callback__decor .pic-01 {
    left: 0;
  }

  .callback__decor .pic-02 {
    right: 25px;
    ;
  }
}

@media screen and (max-width: 970px) {
  .header__btn.btn {
    display: none;
  }

  .footer__row {
    width: unset;
    grid:
      'logo contacts'
      'links contacts'
      '... email';
    align-items: center;
  }

  .footer__email {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .header__row {
    height: 49px;
  }

  .header__logo {
    width: 135px;
    height: 35px;
  }

  .header__logo img {
    height: 100%;
  }

  .header__nav {
    height: calc(100vh - 40px);
    background: var(--color-blue-2);
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: 0.5s;
  }

  .header__nav.active {
    transform: translateY(100%);
  }

  .nav__list {
    flex-direction: column;
    margin: 0 auto;
  }

  .nav__item {
    margin: 43px 0 43px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
  }

  .nav__item::after {
    bottom: -1px;
  }

  .burger {
    display: flex;
    column-gap: 5px;
    cursor: pointer;
    z-index: 4;
  }

  .burger-dot,
  .burger::before,
  .burger::after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-white);
    transition: 0.5s;
  }

  .burger.active::before {
    transform: translateX(18px);
  }

  .burger.active::after {
    transform: translateX(-18px);
  }


  .promo__row {
    flex-direction: column-reverse;
    padding: 80px 0 51px;
  }

  /* promo */
  .promo__decor .ellipse-01 {
    width: 101px;
    height: 65px;
    border: 2px solid var(--color-green);
    top: 28px;
    bottom: unset;
    left: -51px;
  }

  .promo__decor .ellipse-02 {
    --width: calc(var(--content-width) * 1.17);
    width: var(--width);
    height: calc(var(--width) / 1.45);
    left: 253px;
    top: 35px;
    right: unset;
    transform: translateX(50%);
  }

  .promo__decor .pic-01 {
    width: 67px;
    height: 26px;
    bottom: unset;
    top: 237px;
    left: 2px;
  }

  .promo__decor .pic-02 {
    width: 24px;
    height: 24px;
    top: 166px;
    left: unset;
    right: 50px;
  }

  .promo__info {
    width: 100%;
    margin-top: 53px;
  }

  .promo__title {
    font-weight: 800;
    font-size: 27px;
    line-height: 120%;
    color: var(--color-black);
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  .promo__text {
    width: 100%;
    margin-bottom: 34px;
  }

  .promo__cart {
    --cart: calc(var(--content-width) / 1.5);
    width: var(--cart);
    height: var(--cart);
    margin: 0 auto;
    top: 0;
    left: 0;
    transform: rotate(15deg) scale(1.2);
  }

  .promo__cart img {
    height: 100%;
  }

  /* service */
  .service {
    padding: 15px 0 30px;
  }

  .service__decor .pic-01 {
    display: none;
  }

  .service__title {
    margin-bottom: 17px;
  }

  .service__item {
    padding: 0 24px;
    border-radius: 10px;
  }

  .service__row-top {
    align-items: flex-start;
    grid-template-columns: 15px 1fr 25px;
    gap: 18px;
  }

  .service__row-bottom {
    grid-template-columns: 15px 1fr;
    gap: 18px;
  }

  .service__item .circle {
    width: 15px;
    height: 15px;
    transform: translateY(6px);
  }

  .service__item .title {
    font-size: 17px;
  }

  .service__item.open .title {
    font-size: 17px;
    line-height: 175%;
  }

  .service__item .text {
    font-size: 17px;
  }

  .service__item .text br,
  .service__item .text span {
    display: none;
  }

  /* stages */
  .stages {
    padding: 42px 0 45px;
  }

  .stages__decor .pic-01 {
    width: 38px;
    height: 38px;
    top: 18px;
    left: -19px;
  }

  .stages__decor .pic-02 {
    display: none;
  }

  .stages__title {
    margin-bottom: 30px;
  }

  .stages__list {
    margin-bottom: 25px;
    gap: 32px;
  }

  .stages__item {
    width: var(--content-width);
    height: unset;
    padding: 27px 30px;
    grid-template-columns: 1fr;
  }

  .stage__title {
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
  }

  .stage__text {
    font-size: 17px;
    line-height: 175%;
  }

  /* examples */
  .examples {
    padding: 23px 0 45px;
    z-index: 2;
  }

  .examples__decor .pic-01 {
    display: none;
  }

  .examples__decor .pic-02 {
    width: 38px;
    height: 38px;
    bottom: 0;
    right: 33px;
  }

  .examples__title {
    margin-bottom: 22px;
  }

  .examples__list {
    grid-template-columns:
      repeat(2, var(--content-width));
    gap: 15px 33px;
    transition: 0.5s;
  }

  .examples__list.moved {
    transform: translateX(calc(-1 * var(--content-width) - 30px));
  }

  .examples__item {
    --card-height: calc(var(--content-width) * 0.77);
  }

  .examples__buttons.slider-buttons {
    display: flex;
    margin-top: 25px;
  }

  /* more-info */
  .more-info {
    padding: 43px 0 50px;
  }

  .more-info__decor .pic-01 {
    display: none;
  }

  .more-info__mobile-title {
    display: block;
    margin-bottom: 27px;
  }

  .more-info__row {
    flex-direction: column-reverse;
  }

  .more-info__info {
    width: 100%;
  }

  .more-info__title {
    display: none;
  }

  .more-info__text {
    margin: 30px 0 35px;
    font-size: 17px;
    line-height: 175%;
  }

  .more-info__image {
    width: 100%;
    left: unset;
  }

  .more-info__image img {
    width: 100%;
  }

  /* callback */
  .callback {
    padding: 42px 0 25px;
  }

  .callback__decor .pic-01,
  .callback__decor .pic-02 {
    display: none;
  }

  .callback__content {
    width: var(--content-width);
  }

  .callback__title {
    margin-bottom: 17px;
  }

  .callback__text {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 175%;
  }

  .callback__form .btn {
    margin-bottom: 5px;
  }

  .callback__image {
    display: block;
    width: 80%;
    margin: 40px auto 0;
    text-align: center;
  }

  /* footer */
  .footer {
    padding: 45px 0 145px;
  }

  .footer__row {
    margin-bottom: 25px;
    grid:
      'logo'
      'contacts'
      'links'
      'email';
    justify-content: center;
  }

  .footer__logo {
    margin-bottom: 26px;
  }

  .footer__contacts {
    margin-bottom: 55px;
    padding: 0;
    font-size: 16px;
    line-height: 140%;
  }
  .footer__contact::before {
    width: 28px;
    height: 28px;
  }

  .footer__links {
    grid: 'facebook telegram viber instagram whats-up';
    column-gap: 25px;
  }
  .footer__link {
    height: 32px;
  }
  .footer__email {
    margin: 40px 0 0 20px;
    font-size: 16px;
    line-height: 140%;
  }
  .footer__bottom {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 140%;
  }

  /* common elements */
  .btn {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }

  section h2 {
    font-size: 23px;
    line-height: 150%;
  }

  .slider-buttons {
    width: calc(var(--content-width) * 0.67);
  }
}